/* Header */
header{
    background-color: #F2EFDF;
    height: 16em;
}

header div{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10em;
}

header div section{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10em;
}

#images_container{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    padding-top: 2em;
}

#images_container img{
    width: auto;
    height: 14em;
}

button {
    background-color: #273D59;
    border-radius: 30px;
    color: #F2EFDF;
    width: 13em;
    height: 5em; 
    padding: 1em;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    margin: 15px;
    gap:5px;
}

button img {
    width: auto;
    height: 25px;
    margin-right: 10px; 
}



#logo_jo{
    height: 50px;
    width: 50px;
}

//partie de Léo le GOAT

#logo_jo{
    height: 50px;
    width: 50px;
}
figure img{
    width: 400px;
    height: auto;
    border-radius: 0.5em;
}
figure{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    background-color: #273D59;
    color: #F2EFDF;
    width: 32%;
    padding: 0.5em;
    border-radius: 0.5em;
    margin: 5px;
}
#Actualite{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;

}
#Presentationjeu{
    background-color: #273D59;
    color: #F2EFDF;
    padding: 0.5em;
    border-radius: 0.5em;
    margin: 5px;
    justify-content: center;
    border-color: black;
}
#tableaumed{
    color: #273D59;
    padding: 1%;
    border-radius: 0.5em;
    margin: 5px;
    justify-content: center;
    border-color: black;
    width: 73%;
    text-align: center;
}
#chiffresimp{
    background-color: #80A7BF;
    color: #F2EFDF;
    padding: 1%;
    border-radius: 0.5em;
    margin: 5px;
    text-align: center;
    font-weight: bold;
    text-transform: capitalize;
    font-size:xx-large;
    border-color: black;
    width: 22%;
}
#chiffresimp div{
    background-color: #273D59;

}
#chiffresimp h2{
    font-size:x-large;
    padding-bottom: 100px;
}

 body{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: #80A7BF;
 }
 #tableaumed table {
    width: 100%;
    border-collapse: collapse;
}

#tableaumed th, #tableaumed td {
    background-color: #F2EFDF; /* Set background color to white */
    color: #273D59; /* Set text color to black for better readability */
    padding: 8px;
    border: 10px solid #80A7BF; /* Optional: Add border for better separation */
    text-align: center;
    font-weight: bold;
    text-transform: capitalize;
    font-size: large;
}
#tableaumed td:nth-child(3),
#tableaumed td:nth-child(4),
#tableaumed td:nth-child(5) {
    background-color: #273D59;
    color: #F2EFDF; /* Optional: Change text color for better readability */
}

#tableaumed th {
    background-color: #80A7BF; /* Keep header background color as is */
    color: #F2EFDF; /* Keep header text color as is */
}
table img {
    width: 50px; /* Adjust the size as needed */
    height: auto; /* Maintain aspect ratio */
}

/***************
 * CODE AMELIE *
 ***************/
@media screen and (min-width: 620px) {
    /* Amélie */
    #discipline body{
        background-color: #80A7BF;
    }

    #discipline h1{
        text-align: center;
    }

    #discipline{
        background-color: #80A7BF;
        padding: 3em;
    }

    #discipline ul img{
        list-style: disc inside url(images/phryge-judo.avif);
        background-color: black;
        border-radius: 50%;
    }

    #discipline article, #discipline h3, #discipline td, #discipline div, #discipline th{
        padding: 1em;
        font-size: 20px;
    }

    #discipline h3{
        background-color: #F2EFDF;
    }

    #discipline #presentation h3, #discipline #presentation, #discipline #selection table, #discipline header li{
        background-color: #273D59;
        color: white;
    }

    #discipline h3, #discipline #presentation{
        width: 50%;
    }

    #discipline #resume{
        width: 44%;
        background-color: #F2911B;
        border-radius: 1%;
    }

    #discipline #explications{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        height: 50%;
    }

    #discipline #presentation{
        border-radius: 30px;
    }

    /* EPREUVES */
    #discipline #epreuves table{
        width: 100%;
    }

    #discipline #epreuves div{
        float: right;
    }

    #discipline #epreuves table tr td{
        background-color: #F2911B;
        border: 10px solid #80A7BF;
        width: 40%;
        height: 40px;
    }

    #discipline #epreuves table tr{
        margin: 10px;
    }

    /* SELECTION */
    #discipline #selection section{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        height: 100%;
    }

    #discipline #selection div{
        background-color: #d9d9d9;
        width: 47%;
    }

    #discipline #selection div img{
        float: left;
    }

    #discipline #selection table{
        width: 100%;
        text-align: center;
        height: 10em;
    }

    /* TABLEAU */
    #discipline #tableau{
        background-color: #80A7BF;
        color: #273D59;
        padding: 1%;
        border-radius: 0.5em;
        margin: 5px;
        justify-content: center;
        border-color: black;
        width: 73%;
        text-align: center;
    }
    
    #discipline #tableau table {
        width: 135%;
        border-collapse: collapse;
    }
    
    #discipline #tableau td {
        background-color: #F2EFDF;
        color: #273D59;
        padding: 8px;
        border: 10px solid #80A7BF;
        text-align: center;
        font-weight: bold;
        text-transform: capitalize;
        font-size: large;
    }

    #discipline #tableau td:nth-child(3),
    #discipline #tableau td:nth-child(4),
    #discipline #tableau td:nth-child(5) {
        background-color: #273D59;
        color: #F2EFDF;
    }
    
    #discipline #tableau th {
        background-color: #80A7BF;
        color: #F2EFDF;
    }

    #discipline #tableau table tbody tr:nth-child(1) td:nth-child(1){
        background-color: #FCD88C;
    }

    #discipline #tableau table tbody tr:nth-child(2) td:nth-child(1){
        background-color: #c0c0c0;
    }

    #discipline #tableau table tbody tr:nth-child(3) td:nth-child(1){
        background-color: #8b4513;
    }

    #discipline #tableau h2{
        text-align: left;
        color: black;
    }
}

@media screen and (min-width: 480px) and (max-width: 620px){
    #discipline h1{
        text-align: center;
    }
    
    #discipline main{
        background-color: #80A7BF;
    }
    
    #discipline main ul{
        list-style: none;
    }
    
    #discipline main article, #discipline h3, #discipline td, #discipline div, #discipline th{
        padding: 1em;
        font-size: 20px;
    }
    
    #discipline h3{
        background-color: #F2EFDF;
    }
    
    #discipline #presentation h3, #discipline #presentation, #discipline #selection table, #discipline header li{
        background-color: #273D59;
        color: white;
    }
    
    #discipline h3, #discipline #presentation, #discipline #resume{
        width: 90%;
    }
    
    #discipline #resume{
        background-color: #F2911B;
    }
    
    /* EPREUVES */
    #discipline #epreuves table{
        width: 100%;
    }
    
    #discipline #epreuves div{
        float: right;
    }
    
    #discipline #epreuves table tr td{
        background-color: #F2911B;
        border: 10px solid #80A7BF;
        width: 40%;
        height: 40px;
    }
    
    #discipline #epreuves table tr{
        margin: 10px;
    }

    #discipline #epreuves table tr td{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 90%;
    }

    #discipline #epreuves table tr td::nth-word(3){
        display:none;
    }
    
    /* SELECTION */
    #discipline #selection div{
        background-color: #d9d9d9;
        width: 90%;
    }
    
    #discipline #selection div img{
        float: left;
    }
    
    #discipline #selection table{
        width: 100%;
        text-align: center;
        height: 10em;
    }
    
    /* TABLEAU */
    #discipline #tableau{
        background-color: #80A7BF;
        color: #273D59;
        padding: 1%;
        border-radius: 0.5em;
        margin: 5px;
        justify-content: center;
        border-color: black;
        width: 73%;
        text-align: center;
    }
       
    #discipline #tableau table{
        width: 130%;
        border-collapse: collapse;
    }
       
    #discipline #tableau td{
        background-color: #F2EFDF;
        color: #273D59;
        padding: 8px;
        border: 10px solid #80A7BF;
        text-align: center;
        font-weight: bold;
        text-transform: capitalize;
        font-size: large;
    }
    
    #discipline #tableau td:nth-child(1) {
        display: none;
    }

    #discipline #tableau td:nth-child(3),
    #discipline #tableau td:nth-child(4),
    #discipline #tableau td:nth-child(5){
        background-color: #273D59;
        color: #F2EFDF;
    }
       
    #discipline #tableau th{
        background-color: #80A7BF;
        color: #F2EFDF;
    }
    
    #discipline #tableau table tbody tr:nth-child(1) td:nth-child(2), 
    #discipline #tableau table tbody tr:nth-child(1) td:nth-child(3){
        background-color: #F2911B;
    }
    
    #discipline #tableau table tbody tr:nth-child(2) td:nth-child(2), 
    #discipline #tableau table tbody tr:nth-child(1) td:nth-child(4){
        background-color: #c0c0c0;
    }
    
    #discipline #tableau table tbody tr:nth-child(3) td:nth-child(2), 
    #discipline #tableau table tbody tr:nth-child(1) td:nth-child(5){
        background-color: #8B4513;
    }

    #discipline #tableau table tbody tr:nth-child(1) td:nth-child(4){
        color: black;
    }

    #discipline #tableau table tbody tr:nth-child(11),
    #discipline #tableau table tbody tr:nth-child(12),
    #discipline #tableau table tbody tr:nth-child(13),
    #discipline #tableau table tbody tr:nth-child(14),
    #discipline #tableau table tbody tr:nth-child(15),
    #discipline #tableau table tbody tr:nth-child(16),
    #discipline #tableau table tbody tr:nth-child(17),
    #discipline #tableau table tbody tr:nth-child(18),
    #discipline #tableau table tbody tr:nth-child(19),
    #discipline #tableau table tbody tr:nth-child(20),
    #discipline #tableau table tbody tr:nth-child(21),
    #discipline #tableau table tbody tr:nth-child(22),
    #discipline #tableau table tbody tr:nth-child(23),
    #discipline #tableau table tbody tr:nth-child(24),
    #discipline #tableau table tbody tr:nth-child(25),
    #discipline #tableau table tbody tr:nth-child(26){
        display: none;
    }
    
    #discipline #tableau h2{
        text-align: center;
        color: black;
    }
}

/*******************
 * FIN CODE AMELIE *
 *******************/

/* Nouveau Footer */

/* Page sportif Titouan*/
body{
    background-color: #80A7BF;
}
main{
    margin: 30px;
}

h1,h2,h3{
    text-align: center;
}
h1{
    border-style: solid;
    border-color: black;
    border-radius: 30px;
    margin: 20px 15em;
    padding: 1em 0em;
    color: #F2EFDF;
}

a{
    color:red;
}

#bloc{
    display: flex;
    flex-direction: column;
    float: left;
    width: 400px;
    padding-right: 20px;
    margin-bottom: 15px;
}

#bloc img{
    margin-bottom: 20px;
    border-radius: 30px;
}

#infos_essentielles {
    background-color: #273D59;
    border-radius: 40px;
    width: 400px;
    color: #F2EFDF;
}

/* Tableau des médailles*/
#tablo {
    border-spacing: 0.5em;
    color: #273D59;
    margin: 5em auto;
    width: 80%;
}
#tablo tr {
    background-color: #F2EFDF;
}
#tablo th, #tablo td {
    text-align: center;
    padding: 0.5em;
}
#type_comp{
    background-color: #273D59;
    color: #D9D9D9;
}
#médailles_or{
    background-color: #FCDB8C;
}
#médailles_argent{
    background-color: #C0C0C0;
}
#médailles_bronze{
    background-color: #8B4513;
    color: #F2EFDF;
}

.Moments{
    background-color: #273D59;
    color: #F2EFDF;
    border-radius: 30px;
    padding: 20px;
    margin:15px;
    margin-bottom: 30px;
}

.Moments div{
    display: flex;
    flex-direction: row;
}

.Moments div img{
    width: auto;
    height: 10em  ;
    margin :1em;
    justify-content: center;
}


/* Récapitulatif des participations de Teddy Riner aux différents jeux */
.JeuxD, .JeuxG{
    border-radius: 40px;
    background-color: #f2911B;
    margin: 30px 20px;
    justify-items: center;
    display: flex;
    flex-direction: row;

}
.JeuxD div, .JeuxG div{
    border-radius: 40px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;      
    justify-content: center;  
    text-align: center;  
    padding:1em;     
}
.JeuxD img, .JeuxG img{
    width: 25em;
    height: auto;
    border-radius: 30px;
    justify-items: center;
    align-self: center;
    margin: 1em;
}

.JeuxD{
    margin-right: 7em;
}
.JeuxG{
    margin-left: 7em;
}


/* Médailles obtenues par teddy Riner pendant Paris 2024 */
#conteneur_médailles{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10em;
}
.médailles {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;     
    margin: 15px;
    padding: 10px;
    background-color: #F2EFDF;
    border-radius: 30px;
    width: 45em;
    height: auto;
}
.médailles img {
    width: 17em;
    height: auto;
    border-radius: 30px;
}


/* Footer */
footer {
    background-color: #F2EFDF;
    display: flex;
    justify-content: space-around;
    width: 100%; /* Largeur à 100% */
    box-sizing: border-box;
    bottom: 0;
}
footer button {
    display: flex;
    background-color: #273D59;
    border-radius: 30px;
    width: 30%;
    height: 50px;
    justify-content: center;
    align-items: center; 
    color: #D9D9D9;
    margin: 5px;
}

/*partie de léo*/
header{
    background-color: #F2EFDF;
    height: 16em;
    width: 1440px;
}

header div{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10em;
}

header div section{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10em;
}

#images_container{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    padding-top: 2em;
}

#images_container img{
    width: auto;
    height: 14em;
}

button {
    background-color: #273D59;
    border-radius: 30px;
    color: #F2EFDF;
    width: 13em;
    height: 5em; 
    padding: 1em;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    margin: 15px;
    gap:5px;
}

button img {
    width: auto;
    height: 25px;
    margin-right: 10px; 
}



#logo_jo{
    height: 50px;
    width: 50px;
}
body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: #80A7BF;
    width: 1440px;
    }
h2{
    font-size:x-large;
    color: #273D59;
    }

#Presentationjeu{
    height: auto;
    background-color: #80A7BF;
    color: #F2EFDF;
    border-radius: 0.5em;
    margin: 1%;
    justify-content: center;
    border :black double 1px ;
    margin: 20px;
    padding: 5px;

}
#Presentationjeu h2{
    color: #F2EFDF;
    text-align: center;
    }

#Actualite{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 1400px;
    margin: 20px;
    margin-top: 0px;
}

#Actualite figure{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    background-color: #273D59;
    color: #F2EFDF;
    width: 32%;
    padding: 0.5em;
    border-radius: 0.5em;
    margin: 5px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}
#Actualite figure img{
width: 250px;
height: auto;
border-radius: 0.5em;
}
figure:hover {
    transform: scale(1.03); /* Agrandit l'élément */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Ajoute un effet d'ombre */
}

#tabchiffres{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 1400px;
    margin: 20px;
    margin-top: 0px;
}
#tabchiffres article div{
    background-color: #273D59;
    color: #F2EFDF;
    text-align: center;
    font-weight: bold;
    text-transform: capitalize;
    font-size:xx-large;
    border-color: black;
    width: 350px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-content:end;
    margin-bottom: 10px;
    margin-top: 90px;
    padding-top: 10px;
    padding-bottom:10px ;
}

#tabchiffres section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 1000px;
}
#tabchiffres section table {
    width: 1000px;
    height: 700px;
    border-collapse: collapse;
}
    
#tabchiffres section td {
    background-color: #F2EFDF; /* Set background color to white */
    color: #273D59; /* Set text color to black for better readability */
    border: 10px solid #80A7BF; /* Optional: Add border for better separation */
    text-align: center;
    font-weight: bold;
    text-transform: capitalize;
    font-size: large;
}
#tabchiffres section td:nth-child(3),
#tabchiffres section td:nth-child(4),
#tabchiffres section td:nth-child(5) {
    background-color: #273D59;
    color: #F2EFDF; /* Optional: Change text color for better readability */
}
    
#tabchiffres section th {
    background-color: #80A7BF; /* Keep header background color as is */
    color: #F2EFDF; /* Keep header text color as is */
    height: 50px;
}
table img {
    width: 50px; /* Adjust the size as needed */
    height: auto; /* Maintain aspect ratio */
}
#tabchiffres section h2 {
    text-align: center;
}

#paralympiques{
    width: 1400px;
    margin: 20px;
    margin-top: 0px;
}
#paralympiques div{
    background-color: #F2EFDF;
    border-radius: 0.5em;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}
#paralympiques div img{
        width: 190px;
        height: auto;
        border-radius: 0.5em;
}
#paralympiques div p{
        margin: 20px;
}

#cat div{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    background-color: #F2911B;
    border-radius: 1em;
    width: 1400px;
    margin-bottom: 20px;
}
#cat div div{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    margin-left: 20px;
    margin-bottom: 0px;
}
#cat div div img{
    width: 570px;
    height: 200px;
    border-radius: 1em;

}
#cat div div ol{
    list-style-type: none;
}
#tabchiffres section table tbody tr td:nth-child(2):hover {
    background-color: #273D59; /* Color for États-Unis */
    color: #F2EFDF;
}
#tabchiffres section table tbody tr:nth-child(1) td:nth-child(2):hover {
    background-color: #FCDB8C; /* Color for États-Unis */
    color: #273D59;
}

#tabchiffres section table tbody tr:nth-child(2) td:nth-child(2):hover {
    background-color: #C0C0C0; /* Color for Chine */
    color: #273D59;
}
#tabchiffres section table tbody tr:nth-child(3) td:nth-child(2):hover {
    background-color: #8B4513; /* Color for Chine */
    color: #273D59;
}
/* Maintain aspect ratio */
/* Maintain aspect ratio */
/* Maintain aspect ratio */

/* Contenu qui dépasse la largeur de l'article */
footer {
    background-color: #F2EFDF;
    display: flex;
    justify-content: space-around;
    width: 1440px; /* Largeur à 100% */
    box-sizing: border-box;
    bottom: 0;
}
footer button {
    display: flex;
    background-color: #273D59;
    border-radius: 30px;
    width: 30%;
    height: 50px;
    justify-content: center;
    align-items: center; 
    color: #D9D9D9;
    margin: 5px;
}
#sponsors img {
    width: 125px;
    height: auto;
    margin: 10px;
    border-radius:  50%;
}
#sponsors {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}

/* Media queries for mobile devices */
@media screen and (max-width: 1440px) {
    #tabchiffres section {
        width: 100%; /* Adjust section width for smaller screens */
    }

    #tabchiffres section table {
        width: 428px; /* Adjust table width for smaller screens */
        height: auto; /* Adjust height for smaller screens */
    }

    #tabchiffres section td {
        font-size: medium; /* Adjust font size for better readability */
        padding: 5px; /* Adjust padding for smaller screens */
    }

    #tabchiffres section th {
        font-size: medium; /* Adjust font size for better readability */
        height: auto; /* Adjust height for smaller screens */
    }

    table img {
        width: 30px; /* Adjust image size for smaller screens */
    }
    body {
        flex-direction: column;
    }

    #Presentationjeu {
        width: 400px; /* Adjust width for smaller screens */
    }

    #Actualite {
        flex-direction: column;
        flex-wrap: wrap;
        width: auto;
    }
    #Actualite figure {
        width: 400px; /* Adjust width for smaller screens */
    }
    #tabchiffres {
        flex-direction: column;
        flex-wrap: wrap;
        width: auto;
    }

    #paralympiques {
        width: 400px; /* Adjust width for smaller screens */
        
    }
    #paralympiques div {
        flex-direction: column;
    }
    #cat div {
        flex-direction: column;
        width: 400px; 
    }
    #cat div div img {
        width: 380px; /* Adjust image size */
    }
    #sponsors img {
        width: 80px; /* Adjust image size */
    }
    #sponsors {
        width: 428px;
        flex-wrap: wrap;
        
    }
}


body {
    background-color: #80A7BF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0%;
    }

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    }
div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
    }

section h1 {
    width: 1050px;
    height: 50px;
    background-color: #D9D9D9;
    border-radius: 60px;
    text-align: center;
    line-height: 50px;
    
}
    
section article h2{
    background-color: #D9D9D9;
    border-radius: 60px;
    width: 770px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-weight: normal;
    
}

section article{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
section article div {
    background-color: #273D59;
    border-radius: 60px;
    width: 1000px;
    height: 300px;
    display: flex;
    align-items: flex-start;
}

section article div p {
    color: #D9D9D9;
    font-size: 20px;
    margin: 20%;
    margin-bottom: 10px;
    margin-top: 0%;
    text-align: justify;
}

.introduction{
    margin-left: -235px;
}

section h2 {
    width: 1050px;
    height: 50px;
    background-color: #D9D9D9;
    border-radius: 60px;
    text-align: center;
}

.partieDeux{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 150px;
}

.titrePetits{
    width: 500px;
    height: 50px;
    background-color: #D9D9D9;
    border-radius: 60px;
    text-align: center;
    line-height: 50px;
    font-weight: normal;
}
.articles{
    background-color: #273D59;
    border-radius: 60px;
    width: 500px;
    height: 1000px;
    display: flex;
    justify-content: space-around;
    
}
hr {
    width: 700px;
    margin-top: 0px;
    margin-bottom: 0px;
    border: 1px solid black;
}

.separation{
    width: 5px; 
    height: 660px; 
    background-color: #D9D9D9; 
    border: none; 
}

div{
    display: flex;
    flex-direction: row;
    align-items: flex-start ;
    justify-content: space-around;
    gap: 30px; 
}
section div div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    
}
section div div article{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
section div div article div{
    background-color: #F2911B;
    width: auto;
    height: 160px;
    gap: 10px;
    
}
section div div article h3{
    background-color: #F2911B;
    border-radius: 60px;
    width: 200px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
}

section div div article div p{
    color: black;
    font-size: 20px;
    text-align: justify;

}

section .deroulement{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.versus{
    width: 80px;
    height: auto;
}

.vainqueur{
    width: 200px;
    background-color: #BDF9A9;
    color: black;
    text-align: center;

}

.vaincu{
    width: 200px;
    background-color: #F57D74;
    color: black;
    text-align: center;

}

section div article div{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;

}
section div article div div{
    background-color: transparent;
    display: flex;
    gap: 0px;
    
}
    
    
.compet{
    width: auto;
    height: auto;
}
figure figcaption{
    background-color: #F2911B;
    font-weight: bold;
    text-align: center;
    
}

div article figure img{
    width: 200px;
    height: 200px;
    
    
}

.tour{
    background-color: #273D59;
    height: auto;
    width: 500px;
    color: #D9D9D9;
}
section div article div div p{
    color: black;
    
    text-align: justify;
}
.separe{
    display: flex;
    gap: 100px;
}




/* Footer */
footer {
    background-color: #F2EFDF;
    display: flex;
    justify-content: space-between;
    width: 100%;
    

}
footer button {
    display: flex;
    background-color: #273D59;
    border-radius: 30px;
    width: 578px;
    height: 70px;
    justify-content: center;
    align-items: center; 
    color: #D9D9D9;
    margin: 5px;
}
/* Petit écran (moins de 768px) */
@media (max-width: 479px) {
    body{
        width: auto;
    }
    section h1, section h2, section article h2, .titrePetits {
        width: 90%;
        font-size: 1.2em;
    }
    section article div {
        
        width: 80%;
        height: auto;
    }
     .articles {
        width: 80%;
        height: 100%;
    }
    .partieDeux {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    section div article div {
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
        width: 100%;
        gap: 0;
    }
    section div article div div {
        width: 100%;
    }
    section div article div div p {
        font-size: 0.8em;
        width: 100%;
    }
    .vaincu, .vainqueur {
        font-size: 0.8em;
        width: 100%;
    }
    .tour {
        width: 90%;
    }
   
    .separation {
        display: none;
    }
    hr{
        width: 90%;
        font-weight: bold;
    }
    .versus {
        width: 50px;
    }
    img{
        width: 200px;
        
    }
    figure{
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-start;
    }
    figure figcaption p{
        font-size: 5px;
    }
    div article figure img {
        width: 50px;
        height: 50px;
    }
    div{
        display: flex;
        flex-direction: column;
        
        gap: 30px;
    }
    .deroulement .articles{
        width: 90%;
    }
    section div div article{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        width: 90%;
        gap: 30px;
    }
    .imageMatch2, .imageMatch3{
        display: none;
    }
}
