
/* Header */
header{
    background-color: #F2EFDF;
    height: 16em;
}
header div{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10em;

}
header div section{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10em;
}
#boutons_droite{
    display: flex;
    justify-content: flex-end;
}
#images_container{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    padding-top: 2em;
}
#images_container img{
    width: auto;
    height: 14em;
}
a {
    background-color: #273D59;
    border-radius: 30px;
    color: #F2EFDF;
    width: 13em;
    height: 2em; 
    padding: 1em;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    margin: 15px;
}

a img {
    width: auto;
    height: 25px;
    margin-right: 10px; 
}


/* Page sportif Titouan*/
body{
    background-color: #80A7BF;
    width: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0;

}
#sportif{
    padding: 30px;
    display: block;
}

#sportif h1 ,#sportif h2,#sportif h3{
    text-align: center;
}
#sportif h1{
    border-style: solid;
    border-color: black;
    border-radius: 30px;
    margin: 20px 15em;
    padding: 1em 0em;
    color: #F2EFDF;
}

#sportif .liens{
    color:red;
}

#sportif #bloc{
    display: flex;
    flex-direction: column;
    float: left;
    width: 400px;
    padding-right: 20px;
    margin-bottom: 15px;
}

#sportif #bloc img{
    margin-bottom: 20px;
    border-radius: 30px;
}

#sportif #infos_essentielles {
    background-color: #273D59;
    border-radius: 40px;
    width: 400px;
    color: #F2EFDF;
}

#sportif #logo_jo{
    height: 70px;
    width: 70px;
}

/* Tableau des médailles*/
#sportif #tablo {
    border-spacing: 0.5em;
    color: #273D59;
    margin: 5em auto;
    width: 80%;
}
#sportif #tablo tr {
    background-color: #F2EFDF;
}
#sportif #tablo th, #sportif #tablo td {
    text-align: center;
    padding: 0.5em;
}
#sportif #type_comp{
    background-color: #273D59;
    color: #D9D9D9;
}
#sportif #médailles_or{
    background-color: #FCDB8C;
}
#sportif #médailles_argent{
    background-color: #C0C0C0;
}
#sportif #médailles_bronze{
    background-color: #8B4513;
    color: #F2EFDF;
}

#sportif .Moments{
    background-color: #273D59;
    color: #F2EFDF;
    border-radius: 30px;
    padding: 20px;
    margin:15px;
    margin-bottom: 30px;
}

#sportif .Moments div{
    display: flex;
    flex-direction: row;
}

#sportif .Moments div img{
    width: auto;
    height: 10em  ;
    margin :1em;
    justify-content: center;
}


/* Récapitulatif des participations de Teddy Riner aux différents jeux */
#sportif .JeuxD,#sportif .JeuxG{
    border-radius: 40px;
    background-color: #f2911B;
    margin: 30px 20px;
    justify-items: center;
    display: flex;
    flex-direction: row;

}
#sportif .JeuxD div,#sportif .JeuxG div{
    border-radius: 40px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;      
    justify-content: center;  
    text-align: center;  
    padding:1em;     
}
#sportif .JeuxD img,n.JeuxG img{
    width: 25em;
    height: auto;
    border-radius: 30px;
    justify-items: center;
    align-self: center;
    margin: 1em;
}

#sportif  .JeuxD{
    margin-right: 7em;
}
#sportif  .JeuxG{
    margin-left: 7em;
}


/* Médailles obtenues par teddy Riner pendant Paris 2024 */
#sportif  #conteneur_médailles{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10em;
}
#sportif  .médailles {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;     
    margin: 15px;
    padding: 10px;
    background-color: #F2EFDF;
    border-radius: 30px;
    width: 45em;
    height: auto;
}
#sportif  .médailles img {
    width: 17em;
    height: auto;
    border-radius: 30px;
}




    


/* Footer */
footer {
    background-color: #F2EFDF;
    display: flex;
    justify-content: space-between;
    width: 100%;

}
footer a {
    display: flex;
    background-color: #273D59;
    border-radius: 20px;
    width: 30%;
    height: 70%;
    justify-content: center;
    align-items: center; 
    color: #D9D9D9;
    margin: 5px;
}
footer img{
    width: 65px;
    height: 72px;
}

@media (max-width: 480px) {
    #body{ 
        width: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;}
    
    header{
        background-color: #F2EFDF;
        height: 130px;
        width: 480px;
    }
    
    header div{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 3em;
    }
    
    header div section{
        display: flex;
        flex-direction: row;
        width: 100%;
        height:2em;
    }
    #boutons_gauche{
        width: 33%;
        padding:5px;
    }
    #boutons_droite{
        width: 66%;
        justify-content: space-between;
    }
    #images_container{
        display: flex; 
        justify-content: center; 
        align-items: center; 
        padding-top: 2em;
    }
    
    #images_container img{
        width: auto;
        height: 60px;
    }
    
    a {
        background-color: #273D59;
        border-radius: 30px;
        color: #F2EFDF;
        width: 105px;
        height: 40%; 
        padding: 1em;
        display: flex; 
        align-items: center; 
        justify-content: center; 
        margin: 15px;
        gap:5px;
    }
    
    a img {
        width: auto;
        height: 25px;
        margin-right: 10px; 
    }
    .med{display: none;}
    #sites{display: none;}
    
    
    
    /*Corps de la page*/

    #sportif {
        display: flex;
        justify-items: center;
        flex-direction: column;
        align-items: center ;
    }
    #sportif h1,#sportif h2,#sportif h3{
        text-align: center;
    }
    #sportif h1{
        border-style: solid;
        border-color: black;
        border-radius: 30px;
        margin: 20px 2em;
        padding: 1em 1em;
        color: #F2EFDF;
        text-align: center;
    }

    #sportif #bloc, #sportif div {
        display: flex;
        flex-direction: column;
        align-items: center; 
        justify-content: center;
        width: 100%; 
    }
    
    #sportif #bloc img {
        width: 90%; 
        max-width: 300px; 
        margin-bottom: 15px; 
    }

    article{
        margin:10px;
        width: 380px;
        display: flex;
        justify-items: center;
        flex-direction: column;
        align-items: center ;
    }
    
    #infos_essentielles {
        width: 90%; 
        max-width: 300px; 
        text-align: left; 
    }

    #sportif .Moments{
        background-color: #273D59;
        justify-items: center;
        color: #F2EFDF;
        border-radius: 30px;
        padding: 15px;
        margin:10px;
        margin-bottom: 30px;
        width: 380px;
    }
    
    #sportif .Moments div{
        display: flex;
        flex-direction: column;
        width: 380px;

    }
    
    #sportif .Moments div img{
        width: 317px;
        height: auto  ;
        margin :1em;
        justify-content: center;
    }

    #sportif #tablo {
        justify-items: center;
        border-spacing: 0.5em;
        color: #273D59;
        width: 100%;
        max-width: 300px; 
        margin-left: 2em;
    }
    #sportif #tablo th, #sportif #tablo td {
        text-align: center;
        padding: 0.5em;
        font-size: 0.9em; /* Ajuste la taille du texte */
    }
    #sportif #tablo tr {
        background-color: #F2EFDF;
    }

    #sportif #type_comp{
        background-color: #273D59;
        color: #D9D9D9;
    }
    #sportif #médailles_or{
        background-color: #FCDB8C;
    }
    #sportif #médailles_argent{
        background-color: #C0C0C0;
    }
    #sportif #médailles_bronze{
        background-color: #8B4513;
        color: #F2EFDF;
    }

    #sportif .JeuxD, #sportif .JeuxG{
        border-radius: 40px;
        background-color: #f2911B;
        margin: 30px 20px;
        justify-items: center;
        align-items: center; 
        display: flex;
        flex-direction: column;
        width: 360px;
    }

    #sportif .JeuxD img, #sportif .JeuxG img {
        display: none; 
    }


    #sportif .médailles {
        display: flex;
        flex-direction: column;
        justify-content: center; 
        align-items: center;     
        padding: 10px;
        background-color: #F2EFDF;
        border-radius: 30px;
        width: 380px;
        height: auto;
    }

    #sportif #conteneur_médailles{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2em;
    }

    #sportif .médailles img { 
        width: auto;
        height: 200px;
        border-radius: 30px;
    }
    



    /*Footer de la page*/
    footer {
        background-color: #F2EFDF;
        width: 480px; 
        height: 5em;
        box-sizing: border-box; 
    }

    footer a {
        height: 10%;
        width: 10%; 
        padding: 10%; 
        font-size: 1em; 
        border-radius: 20px; 

    }
    #logo_jo{
        width: 40px;
        height: 40px;
    }
}